<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Trip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <!--hello text-->
            <div class="col-sm-8">
                <h1>Hello {{ user.first_name }}! Let's edit your trip!</h1>
            </div>
            <div class="col-sm-4 text-right">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <form action="/trips/update/{{ trip.id }}" method="POST">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="destination">Destination</label>
                        <input name="destination" value="{{ trip.destination }}" class="form-control" type="text" placeholder="Destination">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input name="start_date" value="{{ trip.start_date | date:'Y-m-d'}}" class="form-control" type="date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input name="end_date" value="{{ trip.end_date | date:'Y-m-d' }}" class="form-control" type="date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="plan">Plan</label>
                        <textarea name="plan" class="form-control" cols="30" rows="5">{{ trip.plan }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="/dashboard" class="btn btn-danger">Cancel</a>
                    <button class="btn btn-success" type="submit">Edit</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>